<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../resources/css/generic.css" type="text/css" />
	<link rel="stylesheet" href="../resources/css/detail.css" type="text/css" />
	
	<script type="text/javascript" src="../resources/js/detail.js"></script>
	<script type="text/javascript" src="../resources/js/Ajax.js"></script>
</head>
<body>
	<div class="prompt">Hi, <span></span></div>
	<div class="section">
		<div class="t_error_infor"></div>
		<div class="t_title">Login<span></span></div>
		<div class="t_content">
			<table>
				<tr>
					<td>Mobile</td>
					<td><input /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" /></td>
				</tr>
			</table>
		</div>
		<div class="t_action"><div class="t_button">Login</div></div>
	</div>
	
	<div class="section">
		<div class="t_error_infor"></div>
		<div class="t_title">Test<span>0</span></div>
		<div class="t_content">
			<div class="t_info">
				<div class="t_detail">label</div>
				<div class="t_detail">name</div>
				<div class="t_detail">id</div>
			</div>
			<div class="t_info">
				<div class="t_detail">01</div>
				<div class="t_detail">Eric</div>
				<div class="t_detail">01</div>
			</div>
			<div class="t_info">
				<div class="t_detail">01</div>
				<div class="t_detail">Eric</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">Eric</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
				<div class="t_detail">01</div>
			</div>
		</div>
		<div class="t_action"><div class="t_button">Next</div></div>
	</div>
	<div class="support">Support Infor. <a href="mailto:yxeysy@126.com">Contact Email</a> <a href="tel:15210063460">Contact Phone 15210063460</a> Name: Eric</div>
</body>
<script type="text/javascript">
	 (function init() {
		clt.test();
	})(); 

</script>
	
</html>