<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="../resources/js/detectPF.js"></script>
	<title>Register Your Information</title>
	<link rel="stylesheet" href="../resources/css/generic.css" type="text/css" />
	
	<script type="text/javascript" src="../resources/js/register.js"></script>
	<script type="text/javascript" src="../resources/js/Ajax.js"></script>
</head>
<body>
	<div class="head">
		<div class="icon_buttons"></div>
		<div class="prompt">Connection Definition</div>
		<div class="special">v2.0</div>
	</div>
</body>
<script type="text/javascript">
	(function init() {
		clt.action.changeSection();
	})();

</script>
</html>