<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../resources/css/generic.css" type="text/css" />

	<script type="text/javascript" src="../resources/js/manage.js"></script>
	<script type="text/javascript" src="../resources/js/Ajax.js"></script>
</head>
<body>
	<div class="head">
		<div class="icon_buttons"><button class="top_menu"></button></div>
		<!-- <div class="menu"></div> -->
		<div class="prompt">CLT Management</div>
		<div class="special">v2.0</div>
	</div>
	
	
	
	<script>
		clt.init();
		Ajax.get({url:"http://localhost:8080/clt/test/getMenus/1?conId=61118512-daaa-431f-8595-f9bbb21a1179&name=managment", type: "POST", success: function(result) {
			var profile = convertMenu(JSON.parse(result));
			showMenu(profile);
		}});
		
		function convertMenu(menuStr) {
			var menu = (typeof menuStr === "string" ? JSON.parse(menuStr) : menuStr);
			
			var profile = {};
			for(var i = 0; i < menu.length; i++) {
				profile["uaId"] = menu[i]["uaId"];
				profile["caId"] = menu[i]["caId"];
				
				profile["menu"] = profile["menu"] ? profile["menu"] : {};
			
				if(!profile["menu"][menu[i]["m_name"]]) {
					profile["menu"][menu[i]["m_name"]] = {};
					profile["menu"][menu[i]["m_name"]]["id"] = menu[i]["m_id"];
					profile["menu"][menu[i]["m_name"]]["name"] = menu[i]["m_name"];
				}
				
				if(!profile["menu"][menu[i]["m_name"]]["objects"]) {
					console.log("-- objects is null");
					profile["menu"][menu[i]["m_name"]]["objects"] = {};
				}
				
				if(menu[i]["op_name"]) {
					profile["menu"][menu[i]["m_name"]]["objects"][menu[i]["op_name"]] = menu[i]["opId"];
					Ajax.get({
						url: "http://localhost:8080/clt/metadata-api/FieldPermission/" + menu[i]["opId"] + "/all", 
						type: "GET", 
						success: function(result) {
							var metas = JSON.parse(result);
							if(metas["objectName"]) {
								clt.metadata[metas["objectName"]] = metas;
							}
						}
					});
				}
				
			}
			
			return defaultMenuData(profile);
		}
		
		function showMenu(data) {
			clt.data.profile = data;
			
			var objs = {
				title: "Menu",
				buttons: [],
				fields: [],
				classname: "menu",
			};
			
			var keys = Object.keys(data.menu);
			
			for(var i = 0; i < keys.length; i++) {
				
				var obj = {};
				obj = {
					label: "$",
					type: "a",
					default: keys[i]
				}
				objs.fields.push(obj);
			}
			
			var h = clt.template.createSection(objs);
			h.style.display = "none";
			document.body.appendChild(h);
			document.getElementsByClassName("top_menu")[0].addEventListener(
					"click", 
					function() {
						document.getElementsByClassName("menu")[0].style.display = "block";
					}, 
					false);		
			menuItemEvent();
		}
		
		function menuItemEvent() {
			var a = document.getElementsByClassName("menu")[0].getElementsByClassName("f_values");
			for(var i = 0; i < a.length; i++) {
				a[i].getElementsByTagName("a")[0].addEventListener("click", function(e) {
					e = e || e.target;
					
					var sections = document.getElementsByClassName("section");
					for(var i = sections.length - 1; i >= 0; i--) {
						document.body.removeChild(sections[i]);
					}
					
					var objs = clt.data.profile.menu[e.target.innerText].objects;
					var keys = Object.keys(objs);
					for(var i = 0; i < keys.length; i++) {
						
						var obj = {
							title: keys[i],
							fields: [{
								label: "waiting",
								type: "img",
								default: "http://localhost:8080/clt/resources/images/loading.gif",
								defaultAction: showListService
							}],
							buttons: [],
							style: "f"
						};

						document.body.appendChild(clt.template.createSection(obj));
					}
					
					document.getElementsByClassName("menu")[0].style.display = "none";
				}, false);
				
				if(a[i].getElementsByTagName("a")[0].innerText == "Management") {
					a[i].getElementsByTagName("a")[0].click();
				}
			}
		}
		
		function showListService(e) {
			e = e || e.target;
			var parent = e.parentElement.parentElement.parentElement.parentElement.parentElement;
			var content_ = parent.getElementsByClassName("content")[0];
			var objectName = parent.getElementsByClassName("default")[0].innerHTML;
			
			if((clt.data[objectName] && clt.data[objectName].length)) {
				updateShowList(parent, clt.data[objectName]);
			} else if (Object.prototype.toString.call(clt.data[objectName]) === "[object Object]") {
				showFormService(parent, clt.data[objectName]);
			} else {
			
				Ajax.get({
					url:"http://localhost:8080/clt/data-api/61118512-daaa-431f-8595-f9bbb21a1179/" + objectName + "/", 
					type: "POST", 
					success: function(result) {
						var objs = JSON.parse(result);
						updateShowList(parent, objs, objectName);
					}
				});
			}
		}
		
		//need override
		function showFormService(parent, data) {
			var fields = data.length ? createAllRows(data) : defaultNoData(data);
				content = clt.template.createContent(fields, "f"),
	            content_ = parent.getElementsByClassName("content")[0],
	            content_.innerHTML = "";
	        
	        for(var i = 0; i < content.length; i++) {
	            content_.appendChild(content[i]);
	        }
		}
		
		//List object
        function updateShowList(parent, data, objectName) {
            
            clt.data[objectName] = data;    
            parent.getElementsByClassName("row_count")[0].innerHTML = data.length;
            
            var fields = data.length ? createAllRows(data) : defaultNoData();
                
                content = clt.template.createContent(fields, data.length ? "t" : "f"),
                content_ = parent.getElementsByClassName("content")[0],
                content_.innerHTML = "";
            
            for(var i = 0; i < content.length; i++) {
                content_.appendChild(content[i]);
            }
        }
        
        //single object
        function createObjectHeader(headers, data) {
            var rowHeader = [];
            
            for(var i = 0; i < headers.length; i++) {
            	//暂时不对1:n 做显示
            	if(typeof data[headers[i]] === "object") {
            		continue;
            	}
            	
                var o = {
                    label: headers[i],
                    default: headers[i],
                    type: "div",
                    isHeader: true
                };
                rowHeader.push(o);
            }
            
            return rowHeader;
        }
        
        //single object
        function createObjectRows(data, keys) {
            var fields = [];
            
            for(var i = 0; i < data.length; i++) {
                var rowBody = [];
                for(var j = 0; j < keys.length; j++) {
                	//暂时不对1:n 做显示
                	if(typeof data[i][keys[j]] === "object") {
                		continue;
                	}
                	
                    var o = {
                        label: keys[j],
                        default: data[i][keys[j]],
                        type: typeof data[i][keys[j]] === "object" ? "a" : "div",
                        display: typeof data[i][keys[j]] === "object" ? "a" : "div"
                    };
                    rowBody.push(o);
                }
                fields.push(rowBody);
            }
            
            return fields;
        }
        
        function createAllRows(data) {
        	var keys = Object.keys(data[0]),
        		fields = [createObjectHeader(keys, data[0])],
        		rowBody_ = createObjectRows(data, keys);
        	
        	for(var i = 0; i < rowBody_.length; i++) {
        		fields.push(rowBody_[i]);
        	}
        	
        	return fields;
        }
        
        function defaultNoData(data) {
        	var obj = {
        		label: "reminder",
        		default: "Here is no data or you have no permissions.",
        		type: "div"
        	}
        	
        	return [data ? data : obj];
        }
        
        function defaultMenuData(profile) {
        	profile.menu.Management.objects = {
        		"Management": null		
        	};
        	
        	clt.data.Management = {
        		label : "Welcome",
        		default : "Welcome to CLT v2.0 Management!",
        		type: "div"
        	}
        	
        	return profile;
        }
	</script>
</body>
</html>
