<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign In</title>

<link rel="stylesheet" href="../resources/css/generic.css" type="text/css" />

<script type="text/javascript" src="../resources/js/signin.js"></script>
<script type="text/javascript" src="../resources/js/Ajax.js"></script>
</head>
<body>
	<div class="head">
		<div class="icon_buttons"></div>
		<!-- <div class="menu"></div> -->
		<div class="prompt">Sign In</div>
		<div class="special">v2.0</div>
	</div>
</body>
<script type="text/javascript">
	(function init() {
		clt.init();
	})();
</script>
</html>