<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign Up</title>

<link rel="stylesheet" href="../resources/css/generic.css" type="text/css" />

<script type="text/javascript" src="../resources/js/signup.js"></script>
<script type="text/javascript" src="../resources/js/Ajax.js"></script>
</head>
<body>
	<div class="head">
		<div class="prompt">Sign up</div>
		<div class="special"> For developer, test, demo</div>
	</div>
</body>
<script type="text/javascript">
	(function init() {
		clt.init();
		document.getElementById("Company Name").value = "Developer";
		document.getElementById("Your Name").value = "Eric";
		document.getElementById("Mobile").value = "15210063460";
		document.getElementById("Email").value = "yxeysy@126.com";
		
	})();
</script>
</html>