body {
	background: #f4f5f9;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    word-wrap: inherit;
    word-spacing: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-user-select: none;
}

@keyframes leftIn {
	0% {
		left: -200px;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
	/*0% {
	    opacity: 0;
	    transform: translate3d(-200px, 0, 0);
	}
	60% {
	    opacity: 1;
	    transform: translate3d(25px, 0, 0);
	}
	75% {
	    transform: translate3d(-10px, 0, 0);
	}
	90% {
	    transform: translate3d(5px, 0, 0);
	}
	100% {
	    transform: none;
	}*/
}

@keyframes leftOut {
	0% {
		left: 0px;
		opacity: 1;
	}
	100% {
		left: -200px;
		opacity: 0;
	}
}

@keyframes rock {
	0% {left: 0px;}
	25% {left: -1%}
	75% {left: 1%}
	100% {left: 0px;}
}

.head {
	width: 100%;
	background-color: black;
	height: 50px;
}

.head .icon_buttons {
	width: 40px;
    margin: 0px;
    padding: 0px;
    //height: 50px;
    display: inline-block;
}

.head .top_menu {
	height: 32px;
    margin: 6px 0px 6px 6px;
    min-width: 32px;
    padding: 8px;
    width: 32px;
	background: none;
	border: none;
	position: relative;
	cursor: pointer;
	background-image: url(../images/icon_menu_white.svg);
	background-position: center;
	background-repeat: no-repeat;
	outline: none;
}

.head .top_menu:active {
	top: 1px;
}

.head .top_menu:host + div[class=menu] {
	display: block;
}

.head .prompt {
	color: white;
	font-size: 150%;
	margin-left: 0px;
	line-height: 50px;
	display: inline-block;
}

.head .special {
	color: white;
	font-size: 89%;
	line-height: 50px;
	display: inline-block;
	//height: 200px;
}

.section {
	background: white;
	border-radius: 10px;
	width: 86%;
    height: auto;
    margin: 20px 5% 20px 5%;
    padding: 10px 2% 10px 2%;
    box-shadow: 3px 2px 4px 0px darkgrey;
}

.menu {
	background: white;
	width: auto;
    height: calc(100% - 70px);
    padding: 10px 2% 10px 2%;
    box-shadow: 3px 2px 4px 0px darkgrey;
    position: absolute;
    top: 50px;
    //left: -300px;
    //display: none;
    
    animation-name: leftIn;
    animation-duration: 1s;
    animation-timing-function: initial;
    /*animation-name: leftIn;
    animation-duration: 1s;
    animation-timing-function: initial;*/
}

.menu .error_info, .section .error_info {
	color: #F08080;
    text-align: center;
    height: 20px;
}

.title {
	font-size: 123%;
	border-bottom: 1px solid #e7e7eb;
    padding: 0 50px;
    margin: 0;
    line-height: 40px;
}

.title .s_fold, .default, .row_count {
	display: inline-block;
}

.title .row_count {
	float: right;
	margin-right: 10px;
}

.title .s_fold {
	margin-left: -20px;
}

.section .t_content, .menu .t_content {
	text-align: left;
	word-break: keep-all;
    white-space: nowrap;

    margin: 5px 60px;
	display: inline-table;
	text-align: left;
	overflow-x: scroll;
}

.content {
	width: auto;
	height: auto;
	margin: 10px 55px;
	text-align: left;
	word-break: keep-all;
    white-space: nowrap;
    overflow-x: auto;
}

.menu .content {
    overflow-x: inherit;
}

.section .plate .content {
    white-space: inherit;
}

.f_field {
	margin-bottom: 3px;
}

.f_label, .f_values, .f_value, .f_link, .t_row {
	display: inline-block;
}

.f_label {
	width: 28%;
	padding-left: 10%;
	vertical-align: top;
    white-space: nowrap;
}

.f_label .calendar {
	background: url(time.png);
	height: 50px;
	background-size: 50px;
	background-repeat: no-repeat;
}

.f_label .calendar label {
	line-height: 12px;
	font-weight: normal;
	display: block;
	text-align: center;
	width: 50px;
	font-size: 10px;
}

.f_label .calendar:first-child { 
	padding: 15px 0px 0px 0px;
}

.f_label .calendar label:nth-child(2) { 
	font-weight: bolder;
	line-height: 14px;
	font-size: 14px;
}

.f_help {
	color: #a3a3a3;
	font-size: 90%;
}

.t_header, .t_body {
	width: 100%;
}

.t_info {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e7e7eb;
	line-height: 30px;
	//float: right;
}

.t_body .t_info:hover {
	background-color: lavender;
}

.t_row {
	//border-bottom: 1px solid #e7e7eb;
	//display: block;
	width: 100px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t_row div {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//settings and so on
.button {

}

div .t_action, .f_action {
	text-align: center;
}

div .t_action .t_button, .f_action .f_button {
	text-align: center;
	width: auto;
	min-width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	background: rgb(190, 190, 190);
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}

div .f_action .f_button:active {
	top: 1px;
}

div .t_action .t_button:active {
	top: 1px;
}
