<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd">
  	
  	<context:annotation-config />
  	<context:component-scan base-package="org.clt.service"/>
  	
  	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
  	
  	<bean id="permissionService" class="org.clt.service.PermissionService" />
  	
  	<bean id="wechatPushNotice" class="org.clt.service.interceptor.WechatPushNotice" />
  	
  	<!-- <bean id="wechatException" class="org.clt.service.WechatException" /> -->
  	
  	<!-- 微信异常控制 -->
  	<!-- <aop:config proxy-target-class="true">
        <aop:aspect id="wechatE" ref="wechatExceptionService" >
            <aop:pointcut id="" expression="execution(* org.clt.service.impl..*.*(..))" />
            <aop:after-throwing method="afterThrow" pointcut-ref="printerTest"/>
        </aop:aspect>
    </aop:config> -->
    
    <!-- 权限控制，待完善  -->
    <aop:config proxy-target-class="true">
        <aop:aspect id="permission" ref="permissionService" >
            <aop:pointcut id="grant" expression="execution(* org.clt.service.impl.base.GenericServiceImpl.save(org.clt.repository.pojo.Contact))" />
            <aop:after method="grantPermissions" pointcut-ref="grant" />
        </aop:aspect>
    </aop:config>
    
    <aop:config proxy-target-class="true">
        <aop:aspect id="signup" ref="wechatPushNotice" >
            <aop:pointcut id="pushSU" expression="execution(* org.clt.service.UserBindService.bindWechatUser(..))" />
            <aop:after method="pushSignUpNotice" pointcut-ref="pushSU" />
            <aop:pointcut id="pushSI" expression="execution(* org.clt.service.UserBindService.loginByWechat(..))" />
            <aop:after method="pushSignInNotice" pointcut-ref="pushSI" />
        </aop:aspect>
    </aop:config>
	
	
</beans>